@import "../../styles/mixins";

.pinned--container {
    width: 100%;
    @include flexDisplay(row);
    align-items: center;
    .pinned--content {
        width: 100%;
        @include flexDisplay(row);
        align-items: center;
        
        .pinned--header {
            width: 100%;
            @include flexDisplay(row);
            align-items: center;
            justify-content: space-between;
            color: hsl(0, 0%, 100%);

            .pinned--header--icon {
                border-radius: 50%;
                background-color: #fff;
                @include flexDisplay(row);
                align-items: center;
                justify-content: center;
                background: hsla(208, 26%, 73%, 0.11);
                backdrop-filter: blur(72.1685px);
                border-radius: 6.09875px;
                
                .pinned--button {
                    background: hsla(208, 26%, 73%, 0.11);
                    backdrop-filter: blur(72.1685px);
                    border-radius: 6.09875px;
                    padding: 0.6em;
                    color: hsl(0, 0%, 100%);
                    font-family: Inter;
                    align-items: center;

                    .pinned--svg--span--container {
                        margin-left: 0.5em;
                    }
                }
            }
        }
    }
}